.git
.idea

spa_proof_of_concept/node_modules/
app/node_modules/
venv/

.data*/

**/__pycache__
*.pyo
*.pyc

spa_proof_of_concept/.cache
spa_proof_of_concept/.pytest_cache
spa_proof_of_concept/.coverage
spa_proof_of_concept/coverage
spa_proof_of_concept/cover/
